---
import Css from "./icons/Css.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/react.astro"
import Html from "./icons/Html.astro"
import Javascript from "./icons/Javascript.astro"
import NodeJs from "./icons/NodeJs.astro"
import Typesctipt from "./icons/Typescript.astro"

const TAGS = {
    NEXT: {
        icon: NextJS,
        name: "Next.js",
        class: "text-white",
      },

    TAILWIND: {
      icon: Tailwind,
      class: "text-white",
      name: "Tailwind CSS",
    },
    REACT: {
      icon: React,
      class: "text-white",
      name: "React",
    },
    HTML: {
      icon: Html,
      class: "text-white",
      name: "Html",
    },
    JAVASCRIPT: {
      icon: Javascript,
      class: "text-white",
      name: "Javascript",
    },
    CSS: {
      icon: Css,
      class: "text-white",
      name: "Css",
    },
    NODEJS: {
      icon: NodeJs,
      class: "text-white",
      name: "Node.js",
    },
    TYPESCRIPT: {
      icon: Typesctipt,
      class: "text-white",
      name: "Typescript",
    },
  }

const NEWSKILLS = [
  {
    tags: [ TAGS.NEXT, TAGS.TYPESCRIPT],
  }
]

---

<div class="flex flex-col gap-y-8">
  {
    NEWSKILLS.map(({ tags }) => (
      <article class="flex flex-col w-full">
        <div class="w-full">
          <ul class="flex flex-wrap justify-start gap-4 sm:gap-6 md:gap-8">
            {tags.map((tag) => (
              <li class="flex flex-col items-center text-center">
                <div class="w-10 h-10 sm:w-12 sm:h-12 md:w-[3.6rem] md:h-[3.6rem] flex items-center justify-center">
                  <tag.icon class="w-full h-full" />
                </div>
                <span class="text-xs sm:text-sm mt-2">{tag.name}</span>
              </li>
            ))}
          </ul>
        </div>
      </article>
    ))
  }
</div>